
#cargo-hold {
	clear: both;
}
#cargo-hold ul {
	list-style: none;
	float: left;
	margin: 0;
	padding: 0;
	background: url(imgs/floor.gif);
}
#cargo-hold ul li {
	padding:0;
	margin:0;
	position: relative;
}
#cargo-hold ul li, img {
	height: 40px;
	width: 40px;
}

#cache {
	height: 0px;
	width: 0px;
	overflow: hidden;
}

li.exit {
	background-image: url(imgs/exit.gif);
	background-size: 100% 100%;
}

li.exit.on {
	background-image: url(imgs/exit-on.gif);
}

#menu {
	list-style: none;
	margin: 0;
	padding: 0;
}
#menu li {
	float: left;
	margin-right: 10px;
}
#menu li.link {
	cursor: pointer;
}

.laser {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 50;
}